@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #fff;
    --primary-color: #20c997;
}


*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 100%;
    /* padding: 0 10px; */
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/intro-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.colors {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.815);
    position: absolute;
}




/* sitebar */


.sitebar {
    position: fixed;
    width: 18%;
    height: 100vh;
    background-color: #000;
}

.sitebar__info {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sitebar__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 5px solid rgb(59, 59, 59);
    border-radius: 50%;
    margin-bottom: 30px;
}

.sitebar__title {
    font-size: 25px;
    color: var(--text-color);
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 20px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 155px;
}

.nav-item {
    padding: 10px 0;
    text-transform: capitalize;
}

.nav-link {
    color: #fafafae6;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.4s ease;

}

.nav-link:hover {
    color: var(--primary-color);
}


.sitebar__media-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media__item {
    padding: 0 5px;

}

.bxl-facebook {
    font-size: 25px;
    color: #fafafae6;
}

.bxl-instagram {
    font-size: 25px;
    color: #fafafae6;
}

.bxl-telegram {
    font-size: 25px;
    color: #fafafae6;
}

.bxl-linkedin {
    font-size: 25px;
    color: #fafafae6;
}

.bxl-facebook:hover {
    color: blue;
}

.bxl-instagram:hover {
    color: #f33ea8;
}

.bxl-telegram:hover {
    color: #3ea2f3;
}

.bxl-linkedin:hover {
    color: rgb(0, 102, 255);
}


/* MAIN */

.main {
    width: 82%;
    float: right;
}

.main__desc {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main__span {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}


.main__title {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
    margin-bottom: 16px;
    text-align: center;
}

.ttl__span {
    font-size: 40px;
    margin-left: 90px;
}

.message {
    background-color: transparent;
    color: #fcf6f6;
    display: block;
    font-weight: 600;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 240px;
    animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
    font-family: 'Poppins', sans-serif;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }

    5% {
        width: 0;
    }

    15% {
        width: 300px;
    }

    30% {
        top: 0.2rem;
        width: 300px;
    }

    33% {
        top: 0.2rem;
        width: 0;
    }

    35% {
        top: 0.2rem;
        width: 0;
    }

    38% {
        top: -4.5rem;

    }

    48% {
        top: -4.5rem;
        width: 320px;
    }

    62% {
        top: -4.5rem;
        width: 320px;
    }

    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }

    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    86% {
        top: -9rem;
        width: 285px;
    }

    95% {
        top: -9rem;
        width: 285px;
    }

    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

.main__text {
    color: #dee3e4;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.main__btn {
    color: var(--primary-color);
    font-size: 18px;
    padding: 12.8px 41.6px;
    margin-top: 8px;
    border: 3px solid var(--primary-color);
    border-radius: 35px;
    text-transform: capitalize;
    transition: all 0.4s ease;
    letter-spacing: 1.5px;
}

.main__btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* welcome animatsiya */

#box {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    display: flex;
}


.main__arrow {
    position: relative;
    width: 100%;
}

.main__arrow-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: -150px;
    left: 49%;
    animation: btns 1s ease 0.5s infinite alternate;
}

@keyframes btns {
    0% {
        transform: translateY(-30px)
    }

    100% {
        transform: translateY(0);
    }
}

.bx-chevrons-down {
    color: var(--primary-color);
    font-size: 30px;
}


/* header */


.header {
    width: 100%;
    background-color: #000;
    padding: 20px 15px;
    position: fixed;
    display: none;
    z-index: 200;
}

.header__page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    border: none;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 101;
}

.bx-menu {
    font-size: 30px;
    color: var(--text-color);
}

.bx-x {
    font-size: 30px;
    color: var(--text-color);
}

.header__title {
    color: var(--text-color);
    letter-spacing: 2px;
    font-weight: 500;
}

.header__title:hover {
    color: var(--primary-color);
}

/* modal */

.main__modal {
    position: fixed;
    top: -50%;
    transition: all 0.5s ease;
}

.modal__page {
    background-color: rgba(0, 0, 0, 0.678);
    padding-top: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.modal__list {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 15px;
}

.modal__item {
    padding: 10px 0;
    text-transform: capitalize;
    width: 97%;
    border-bottom: 1px solid #ffffff59;
}

.modal__link {
    color: #fafafae6;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}

.modal__link:hover {
    color: var(--primary-color);
}

.head-media {
    font-size: 23px;
}



/* ABOUT */

.about__big-title {
    font-size: 100px;
    color: #dee3e4;
    opacity: 0.4;
    font-weight: 600;
    line-height: 1.3;
    font-size: calc(1.95rem + 8.4vw);
    text-transform: uppercase;
    position: absolute;
    top: -12%;
    left: 15%;
}

.about__page {
    position: relative;
}

.about {
    padding: 100px 0 72px 0;
    background-color: #f8f9fa;

}

.about__title {
    font-weight: 600;
    font-size: 36px;
    color: #212529;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
    line-height: 1.5;
}

.about__title::before {
    content: '';
    width: 100px;
    height: 3px;
    background-color: var(--primary-color);
    display: block;
    position: absolute;
    bottom: 0;
    left: 46%;
}

.about__desc {
    display: flex;
    flex-direction: row;
    padding: 100px 40px;
}

.me-to__title {
    margin-bottom: 16px;
    font-size: 30px;
    color: #252b33;
}

.me-to__x {
    color: var(--primary-color);
}

.location__list {
    margin-bottom: 35px;
    width: 100%;
}

.location__item {
    padding: 12px 0;
    width: 100%;

}

.location__item:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}

.location__span {
    color: #4c4d4d;
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
}

.location__name {
    font-weight: 400;
}

.link-mail {
    color: var(--primary-color);
}

.location__name {
    display: inline;
}

.link-email {
    display: inline;
}

.location__btn {
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
    background-color: var(--primary-color);
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    border-radius: 50rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.location__btn:hover {
    background-color: #1baa80;
    border-color: #1baa80;
}

/* contact */

.contact {
    padding: 100px 48px 72px 48px;
    background-color: #f8f9fa;

}

.contact__page {
    position: relative
}

.contact__title {
    margin-bottom: 72px;
}

.contact__desc {
    margin-bottom: 24px;
}

.adress {
    text-align: left;
}

.adress__title {
    color: #252b33;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 16px;
}

.adress__text {
    font-size: 16px;
    color: #4c4d4d;
    line-height: 1.8;
    margin-bottom: 24px;
}

.adress__tel {
    display: inline-block;
    color: #4c4d4d;
    margin-bottom: 4px;
    line-height: 1.8;
    display: flex;
    align-items: center;
}

.adress__tel:hover {
    color: var(--primary-color);
}

.bxs-phone {
    font-size: 28px;
    color: var(--primary-color);
    margin-right: 7px;
}

.bx-mail-send {
    font-size: 28px;
    color: var(--primary-color);
    margin-right: 7px;

}

.follow {
    text-align: left;
}

.follow__title {
    color: #252b33;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.follow__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.follow__item {
    padding: 5px;
}

.follow__bx {
    color: #4c4d4d;
    font-size: 24px;
    transition: all 0.4s ease;
}

.follow__bx:hover {
    color: var(--primary-color);
}






.forms {
    width: 100%;
}

.form__title {
    color: #252b33;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 16px;
}

.form__input-box {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__input {
    width: 48%;
    padding: 13px 15px;
    background-color: #fff;
    font-size: 16px;
    color: #656565;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

::placeholder {
    font-size: 16px;
    color: #656565;
    font-weight: 400;
    line-height: 1.5;
}

.form__input:focus {
    box-shadow: 0 0 5px rgb(128 189 255 / 50%);
    border-color: #86b7fe;
    outline: 0;
}

.form__area:focus {
    box-shadow: 0 0 5px rgb(128 189 255 / 50%);
    border-color: #86b7fe;
    outline: 0;
}

.form__area {
    padding: 0.81rem 0.96rem;
    width: 100%;
    height: inherit;
    background-color: #fff;
    font-size: 16px;
    color: #656565;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 24px;
}

.form__btn {
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
    background-color: var(--primary-color);
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 50rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.form__btn:hover {
    background-color: #1baa80;
    border-color: #1baa80;
}

.contact__row {
    display: flex;
    flex-direction: row;
}

/* portfolio */




.portfolio {
    padding: 100px 0 72px 30px;
    position: relative;
}

.portfolio__page {
    position: relative;
}

.portfolio__list {
    text-align: center;

}

.portfolio__title {
    margin-bottom: 72px;
}

.portfolio__item {
    padding: 15px 60px;
    position: relative;
}

.portfolio__hover {
    width: 315px;
    height: 210px;
    overflow: hidden;
}

.portfolio__link {
    width: 315px;
    height: 210px;

}

.portfolio__img {
    width: 315px;
    height: 210px;
    background-image: url(../imgs/screencapture-coffee-proect-netlify-app-2022-02-14-13_02_37.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.portfolio__item:nth-child(2) .portfolio__img {
    background-image: url(../imgs/portfolio1.jpg);
}

.portfolio__item:nth-child(3) .portfolio__img {
    background-image: url(../imgs/project4.jpg);
}

.portfolio__item:nth-child(4) .portfolio__img {
    background-image: url(../imgs/project6.jpg);
}

.portfolio__item:nth-child(5) .portfolio__img {
    background-image: url(../imgs/project5.jpg);
}

.portfolio__item:nth-child(6) .portfolio__img {
    background-image: url(../imgs/project3.jpg);
}

.portfolio__hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 315px;
    height: 210px;
}

.portfolio__colors {
    width: 315px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.815);
    position: absolute;
    top: 5%;
    left: 15%;
    transition: all 0.4s ease;
}

.portfolio__hover:hover .portfolio__colors {
    height: 90%;
}

.portfolio__links-box {
    position: absolute;
    top: 0;
    left: 45%;
    transition: all 0.4s ease;
    opacity: 0;
}

.mini-link {
    color: #fff;
    font-size: 30px;
    transition: all 0.4s ease;
    animation: links 1s ease-in-out 1s alternate infinite;
}

@keyframes links {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.bxl-netlify {
    animation: linkss 1s ease-in-out 1s alternate infinite;
}

@keyframes linkss {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.mini-link:hover {
    color: var(--primary-color);

}

.portfolio__hover:hover .portfolio__links-box {
    top: 45%;
    opacity: 1;
}

.portfolio__list {
    display: flex;
    flex-direction: row;
}

/* coffe modal */


.coffe__img {
    width: 544px;
    height: 363px;
    object-fit: cover;
}

.close-bx {
    color: #4c4d4d;
    font-size: 30px;
}

.cofee__btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


.coffe {
    position: absolute;
    top: 30%;
    left: 0;
    display: none;
}

.coffe__page {
    background-color: #fff;
    padding: 30px 0;
    position: relative;
}

.coffe__title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 1.50rem;
    color: #252b33;
    font-weight: 500;
    line-height: 1.2;
}

.coffe__boxs {}

.row {}

.col-sm-6 {}

.img-col {
    text-align: center;
}

.coffe__col {
    padding-top: 20px;
    /* border: 1px solid blue; */
}

.coffe__imgbox {
    overflow: hidden;
}

.coffe__img {}

.coffe__decs {}

.cofdesc {}

.cofdesc__title {
    margin-bottom: 8px;
    font-size: 18px;
    color: #252b33;
    font-weight: 500;
    line-height: 1.2;
}

.cofdesc__text {
    font-size: 16px;
    color: #4c4d4d;
    margin-bottom: 16px;
    line-height: 1.8;
}

.coffe__list {}

.coffe__item {
    padding: 12px 0;
    color: #4c4d4d;
}

.coffe__span {
    margin-right: 8px;
    line-height: 1.5;
}

.coffe__lg {
    display: inline;
}

.coffe__media-list {
    display: flex;
    align-items: center;
}

.share__item {
    padding: 3px;
}

.share__link {
    display: inline;
}

.share__bx {
    color: #4c4d4d;
    font-size: 25px;
}



@media screen and (max-width: 990px) {
    .container-fluid {
        width: 90%;
    }

    .container {
        width: 90%;
        padding: 0;
    }

    .sitebar {
        display: none;
    }

    .main {
        width: 100%;
        float: none;
    }

    .header {
        display: block;
    }

    .main__modal {
        position: fixed;
        top: -26%;
        transition: all 0.5s ease;
        opacity: 0;
    }

    .about__me {
        margin-bottom: 30px;
    }

    .adress {
        text-align: center;
    }


    .portfolio {
        padding: 30px 0;
    }


    .portfolio__colors {
        top: 5%;
        left: 13%;

    }



}

@media screen and (max-width: 778px) {
    .main {
        width: 100%;
        text-align: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about__desc {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        text-align: center;
    }

    .location {
        text-align: left;
    }

    .form__input-box {
        flex-direction: column;
    }

    .contact {
        padding: 50px 0;
    }

    .contact__row {
        flex-direction: column-reverse;
    }

    .form__input {
        width: 100%;
    }

    .form__input:nth-child(1) {
        margin-bottom: 30px;
    }

    .form__page {
        margin-bottom: 30px;
    }

    .about__big-title {
        top: 0;
    }
/* 
    .portfolio__item{
        padding: 0;
    } */

}

.test {
    display: block;
}

.show {
    top: 0;
    opacity: 1;
}

.go-top {
    position: fixed;
    cursor: pointer;
    right: 20px;
    font-size: 25px;
    bottom: 15px;
    background: rgba(110, 110, 110, 0.274);
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    transition: all 0.6s ease;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-link {
    text-decoration: none;
    color: #fff;
    transition: all 0.6s ease;
}

.go-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--primary-color);
    opacity: 0;
    transition: all 0.6s ease;
}

.go-top:hover .go-top::before {
    background-color: var(--primary-color);
    opacity: 1;
}

.go-top:hover {
    background-color: var(--primary-color);
}

.go-top:hover .bx-chevrons-up:nth-child(2) {
    opacity: 1;
    transform: translateY(-40px);
}

.bx-chevrons-up:nth-child(2) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 auto;
    transition: all 0.6s ease;
    overflow: hidden;
}